<h1>Wine List:</h1>
<ul>
<% @wines.each do |wine| %>
  <li><%= link_to wine.name, wine_path(wine) %></li>
<% end %>
</ul>
<%= form_tag new_wine_path, method: "GET" do %>
  <%= submit_tag "New Wine" %>
<% end %>
