<h1>Wine List:</h1>
<div class="main_content">
  <ul>
    <% @wines.each do |wine| %>
      <li><%= link_to "#{wine.name} - #{wine.average_rating}", wine_path(wine) %></li>
    <% end %>
  </ul>
</div>
<br />
<%= link_to "New Wine", new_wine_path, class: "btn" %><br />
<%= link_to "Write a Review", new_review_path, class: "btn" %><br />
